<%- include('template/cabecera', {tituloweb: 'Inicio EJS'}); %>

<h1>Hola estoy usando EJS con <%= titulo %></h1>
<h2> Registro de usuario</h2>

<div class="container">
    
    <p>
        Para verficicar el servicio del servidor express podemos probar de registrar un usuario a traves de postman 
    
    </p>
    <img src="/Public/img/postman-registro.jpg" alt="Alta de usuario">
</div>

<h2> Login y recepcion de token</h2>

<img src="/Public/img/postman-login.jpg" alt="Login de usuario">
<img src="/Public/img/posman-token Acceso.png" alt="Ingreso de ruta protegida con token">
<img src="/logo.jpg" />

<%- include('template/footer'); %>