<%- include('template/cabecera', {tituloweb: 'Inicio EJS'}); %>
<h1> Bienvenidos a Express</h1>
<h2>Buenas este es un servidor express que esta usando EJS con <%= titulo %></h2>

<div class="container">
    <h2> Registro de usuario</h2>
    
    <p>
        Para verficicar que el servidor express esta antendiendo altas de usuarios podemos probar de registrar un usuario a traves de postman 
        A continuacion te detallo los pasos:
    </p>
        <li>
            <a href="https://express-veterianaria.herokuapp.com/api/admin
            "> carga la siguente url en https://express-veterianaria.herokuapp.com/api/admin
            </a> 

                      

        </li>
        <li>
            selecciona el metodo POST
        </li>
        <li>
            seleccion cargar el Body y pega un este Json:
            {
                "nombre": "Daniel",
                "email": "juanLope@gmail.com",
                "password": "1234567"
            
            }
        </li>
        <br>

    <img src="../img/postman-registro.jpg" alt="Alta de usuario" width="300" class="mx-auto d-block" >
</div>
<div class="container">

    <h2> Login y recepcion de token</h2>
              
    <img src="./img/postman-login.jpg" alt="Login de usuario" width="300">
    <p>
        Para logear el usuario y recibir el token
    
    </p>


</div>
<div class="container">
    <h2> ingreso a ruta protegida con token</h2>
    <p>
        Para logear el usuario y recibir el token
        En postman: cargar la siguente url
        <li>
           <a href="https://express-veterianaria.herokuapp.com/api/admin
           ">https://express-veterianaria.herokuapp.com/api/admin
        </a> 

        </li>
        <li>
            crear un campo en los Header llamado auth-token
        </li>
        <li>
            colocar el token en el valor de ese campo
        </li>

    </p>

    <img src="./img/posman-token%20Acceso.png" alt="Ingreso de ruta protegida con token" width="300">
</div>


<%- include('template/footer'); %>